# Backend configuration
APP_DB_HOST=localhost
APP_DB_PORT=5432
APP_DB_NAME=electricista
APP_DB_USER=postgres
APP_DB_PASSWORD=postgres
APP_ALLOWED_ORIGINS=http://localhost:5173
APP_PORT=8080

# Frontend configuration
VITE_API_URL=http://localhost:8080/api
VITE_PORT=5173
